<div class="effects grid grid-3col">
    <div class="effect-container">
        <input type="checkbox" name="system.effects.bound" />
        <i class="fa-solid fa-hands-bound"></i>
        <div class="effect-name">{{localize 'gs.charSheet.effects.bound'}}</div>
    </div>
    <div class="effect-container">
        <input type="checkbox" name="system.effects.blind" />
        <i class="fa-solid fa-eye-low-vision"></i>
        <div class="effect-name">{{localize 'gs.charSheet.effects.blind'}}</div>
    </div>
    <div class="effect-container">
        <input type="checkbox" name="system.effects.partBlind" />
        <i class="fa-solid fa-eye-slash"></i>
        <div class="effect-name">{{localize 'gs.charSheet.effects.partBlind'}}</div>
    </div>
    <div class="effect-container">
        <input type="checkbox" name="system.effects.cursed" />
        <i class="fa-solid fa-gopuram"></i>
        <div class="effect-name">{{localize 'gs.charSheet.effects.cursed'}}</div>
    </div>
    <div class="effect-container">
        <input type="checkbox" name="system.effects.drowsy" />
        <i class="fa-solid fa-moon"></i>
        <div class="effect-name">{{localize 'gs.charSheet.effects.drowsy'}}</div>
    </div>
    <div class="effect-container">
        <input type="checkbox" name="system.effects.fracture" />
        <i class="fa-solid fa-heart-crack"></i>
        <div class="effect-name">{{localize 'gs.charSheet.effects.fracture'}}</div>
    </div>
    <div class="effect-container">
        <input type="checkbox" name="system.effects.illness" />
        <i class="fa-solid fa-viruses"></i>
        <div class="effect-name">{{localize 'gs.charSheet.effects.illness'}}</div>
    </div>
    <div class="effect-container">
        <input type="checkbox" name="system.effects.hungry" />
        <i class="fa-solid fa-drumstick-bite"></i>
        <div class="effect-name">{{localize 'gs.charSheet.effects.hungry'}}</div>
    </div>
    <div class="effect-container">
        <input type="checkbox" name="system.effects.paralyzed" />
        <i class="fa-solid fa-person"></i>
        <div class="effect-name">{{localize 'gs.charSheet.effects.paralyzed'}}</div>
    </div>
    <div class="effect-container">
        <input type="checkbox" name="system.effects.poisoned" />
        <i class="fa-solid fa-skull-crossbones"></i>
        <div class="effect-name">{{localize 'gs.charSheet.effects.poisoned'}}</div>
    </div>
</div>
