<div class="container">
    <div class="weaponContainer">
        <h2>Weapons</h2>
        <div class="rowHeader grid grid-10col">
            <div class="grid-span-2"></div>
            <div>{{localize config.monster.name}}</div>
            <div>{{localize config.charSheet.items.hitM}}</div>
            <div>{{localize config.charSheet.items.rang}}</div>
            <div>{{localize config.charSheet.items.powe}}</div>
            <div>{{localize config.charSheet.items.attr}}</div>
            <div>{{localize config.charSheet.items.use}}</div>
            <div>{{localize config.charSheet.items.edit}}</div>
            <div>{{localize config.charSheet.items.dele}}</div>
        </div>
        <div class="item-list">
            {{#each data.items as |item id|}}
                {{#if (eq item.type "weapon")}}
                    {{> "systems/gs/templates/items/partials/weapon-card.hbs" item idVal=id data1=../data index=@index inSheet=true}}
                {{/if}}
            {{/each}}
        </div>
    </div>

    <div class="armorContainer">
        <h2>Armor</h2>
        Armor to go here
    </div>

    <div class="shieldContainer">
        <h2>Shields</h2>
        Shield to go here
    </div>

    <div class="itemsContainer">
        <h2>Items</h2>
        <div class="rowHeader grid grid-10col">
            <div class="grid-span-2"></div>
            <div class="grid-span-5">{{localize config.monster.name}}</div>
            <div>{{localize config.charSheet.items.quan}}</div>
            <div>{{localize config.charSheet.items.edit}}</div>
            <div>{{localize config.charSheet.items.dele}}</div>
        </div>
        <div class="item-list">
            {{#each data.items as |item id|}}
                {{#if (eq item.type "item")}}
                    {{> "systems/gs/templates/items/partials/item-card.hbs" item idVal=id data1=../data index=@index inSheet=true}}
                {{/if}}
            {{/each}}
        </div>
    </div>

    <div class="lootEditor">
        <h2>Loot</h2>
        Loot Editor to go here
    </div>
</div>
