<div class="sidebar">
    <h2>{{localize config.character.status}}</h2>
    <div class="status grid grid-3col reveal-rollable">
        <label>{{localize config.character.wounds}}</label>
        <input type="text" name="system.lifeForce.wounds" value="{{actor.system.lifeForce.wounds}}" data-dtype="Number" />
        <div class="woundHealingCont">
            <button type="button" class="actorRolls healing" title="{{localize config.character.heal}} {{localize config.character.wounds}}"><i class="fa-solid fa-heart-pulse"></i></button>
        </div>
        <div class="grid-span-3 lifeForceCalc">
            <div class="grid grid-4col">
                <label>{{localize config.common.lFor}}</label>
                <input type="text" name="system.lifeForce.current" value="{{actor.system.lifeForce.current}}" data-dtype="Number">
                <input type="text" name="system.lifeForce.double" value="{{actor.system.lifeForce.double}}" data-dtype="Number" disabled>
                {{!-- 2x Life Force is disabled as game will calculate this --}}
                <input type="text" name="system.lifeForce.max" value="{{actor.system.lifeForce.max}}" data-dtype="Number" disabled>
            </div>
        </div>

        <label>{{localize config.common.move}}</label>
        <input type="text" name="system.move" value="{{actor.system.move}}" data-dtype="Number">
        <input type="text" name="system.modMove" value="{{actor.system.modMove}}" data-dtype="Number" disabled>

        <label class="actorRolls charSR grid-span-2">{{localize config.common.spRe}}<i class="fa-solid fa-dice"></i></label>
        {{!-- Spell Resistance disabled as game will calculate this --}}
        <input type="text" name="system.spellRes" value="{{actor.system.spellRes}}" data-dtype="Number" class="spellRes" disabled>
    </div>
</div>
<div class="sidebar">
    <h2>{{localize config.character.experience.exp}}</h2>
    <div class="experience grid grid-3col">
        <label class="grid-span-2">{{localize config.character.experience.cum}}</label>
        <input type="text" name="system.xp.cumulative" value="{{actor.system.xp.cumulative}}" data-dtype="Number">
        <label class="grid-span-2">{{localize config.character.experience.cur}}</label>
        <input type="text" name="system.xp.current" value="{{actor.system.xp.current}}" data-dtype="Number">
        <label class="grid-span-2">{{localize config.character.experience.adv}}</label>
        <input type="text" name="system.advancePoints" value="{{actor.system.advancePoints}}" data-dtype="Number">
        <label class="grid-span-2">{{localize config.character.experience.lvl}}</label>
        <input type="text" name="system.levels.adventurer" value="{{actor.system.levels.adventurer}}" data-dtype="Number">
    </div>
</div>
<div class="sidebar">
    <h2>{{localize 'gs.dialog.actorSheet.sidebar.specRolls'}}</h2>
    <div class="buttons grid grid-5col specialRolls">
        {{#each actor.flags.gs.favorites as |value id| }}
            <button type="button" class="{{value.button}}" title="{{localize id}}"><i class="{{value.icon}}"></i></button>
        {{/each}}
    </div>
</div>
