<div class="skillsContainer">
    <h2 class="adventureSkill skillHeader">{{localize config.character.skills.advSW}}</h2>
    <div class="skillBox grid grid-10col">
        <div class="blank"></div>
        <div class="nameHeader header grid-span-4">{{localize config.monster.name}}</div>
        <div class="bonusHeader header grid-span-4">{{localize config.character.bonus}}</div>
        <div class="rankHeader header">{{localize config.character.rank}}</div>
        {{#each actor.items as |item id|}}
            {{#if (eq item.type "skill")}}
                {{!-- Checks to see if skill is Adventurer --}}
                {{#if item.system.type}}
                    <div class="skillImageCont"><img src="{{item.img}}" alt="{{item.name}}"></div>
                    <div class="name grid-span-4 contextMenu" data-id="{{item._id}}" data-contextType="skill" >{{item.name}}</div>
                    <div class="bonus grid-span-4">
                        {{getSkillRangeText item item.system.value}}
                    </div>
                    <div class="rank"><input type="text" name="system.value" value="{{item.system.value}}" data-id="{{item._id}}" data-contextType="earned" class="skillRankInput" data-dtype="Number"></div>
                {{/if}}
            {{/if}}
        {{/each}}
    </div>
</div>
<div class="skillsContainer">
    <h2 class="generalSkill skillHeader">{{localize config.character.skills.genSW}}</h2>
    <div class="skillBox grid grid-10col">
        <div class="blank"></div>
        <div class="nameHeader header grid-span-4">{{localize config.monster.name}}</div>
        <div class="bonusHeader header grid-span-4">{{localize config.character.bonus}}</div>
        <div class="rankHeader header">{{localize config.character.rank}}</div>
        {{#each actor.items as |item id|}}
            {{#if (eq item.type "skill")}}
                {{!-- Checks to see if skill is General --}}
                {{#if (or (eq item.system.type "") (eq item.system.type false))}}
                    <img src="{{item.img}}" alt="{{item.name}}">
                    <div class="name grid-span-4 contextMenu" data-id="{{item._id}}" data-contexttype="skill" >{{item.name}}</div>
                    <div class="bonus grid-span-4">
                        {{getSkillRangeText item item.system.value}}
                    </div>
                    <div class="rank"><input type="text" value="{{item.system.value}}" data-id="{{item._id}}" data-contexttype="earned" class="skillRankInput" data-dtype="Number"></div>
                {{/if}}
            {{/if}}
        {{/each}}
    </div>
</div>
