<div class="skillsContainer">
    <h2 class="adventureSkill skillHeader">{{localize config.character.skills.advSW}}</h2>
    <div class="skillBox grid grid-10col">
        <div class="blank"></div>
        <div class="nameHeader header grid-span-4">{{localize config.monster.name}}</div>
        <div class="bonusHeader header grid-span-4">{{localize config.character.bonus}}</div>
        <div class="rankHeader header">{{localize config.character.rank}}</div>
        {{#each data.skills.adventurer as |item id|}}
            <div class="grid-span-10">
                <div class="grid grid-10col skillContainer advSkillContainer" data-id="{{item._id}}">
                    <div class="skillImageCont advSkills"><img src="{{item.img}}" alt="{{item.name}}"></div>
                    <div class="name grid-span-4 contextMenu" data-id="{{item._id}}" data-contextType="skill" >{{item.name}}</div>
                    <div class="bonus grid-span-4">
                        {{getSkillRangeText item item.system.value 'adv'}}
                    </div>
                    <div class="rank"><input type="text" name="system.value" value="{{item.system.value}}" data-id="{{item._id}}" data-contextType="earned" class="skillRankInput" data-dtype="Number"></div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
<div class="skillsContainer">
    <h2 class="generalSkill skillHeader">{{localize config.character.skills.genSW}}</h2>
    <div class="skillBox grid grid-10col">
        <div class="blank"></div>
        <div class="nameHeader header grid-span-4">{{localize config.monster.name}}</div>
        <div class="bonusHeader header grid-span-4">{{localize config.character.bonus}}</div>
        <div class="rankHeader header">{{localize config.character.rank}}</div>
        {{#each data.skills.general as |item id|}}
            <div class="grid-span-10">
                <div class="grid grid-10col firstSkillBox">
                    <div class="grid-span-9">
                        <div class="grid grid-9col skillContainer genSkillContainer genSkills" data-id="{{item._id}}">
                            <div class="skillImageCont genSkills"><img src="{{item.img}}" alt="{{item.name}}"></div>
                            <div class="name grid-span-4 contextMenu" data-id="{{item._id}}" data-contexttype="skill" >{{item.name}}</div>
                            <div class="bonus grid-span-4">
                                {{getSkillRangeText item item.system.value 'gen'}}
                            </div>
                        </div>
                    </div>
                    <div class="rank"><input type="text" value="{{item.system.value}}" data-id="{{item._id}}" data-contexttype="earned" class="skillRankInput" data-dtype="Number"></div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
{{#if (gt data.martialTechniques.length 0)}}
<div class="skillsContainer">
    <h2 class="martialTechniques skillHeader">{{localize 'TYPES.Item.martialtechniques'}}</h2>
    <div class="skillBox grid grid-10col">
        <div class="blank"></div>
        <div class="nameHeader header grid-span-4">{{localize config.monster.name}}</div>
        <div class="bonusHeader header grid-span-4">{{localize config.character.bonus}}</div>
        {{#each data.martialTechniques as |tech id|}}
            <div class="grid-span-10">
                <div class="grid grid-10col firstSkillBox">
                    <div class="grid-span-9">
                        <div class="grid grid-9col skillContainer techniqueContainer" data-id="{{tech._id}}">
                            <div class="skillImageCont techniqueImg"><img src="{{tech.img}}" alt="{{tech.name}}"></div>
                            <div class="name grid-span-4 contextMenu" data-id="{{tech._id}}" data-contexttype="martialtechnique" >{{tech.name}}</div>
                            <div class="bonus grid-span-4">{{stripFormating tech.system.overview}}</div>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
{{/if}}
