<div class="stats grid grid-7col">
    <div class="grid-span-5">
        <div class="grid grid-4col statsContainer">
            {{!-- Header Row --}}
            <h4 class="mainHeader">{{localize config.character.ability}}</h4>
            <div class="grid-span-3 secondHeader">
                <h4>{{localize config.character.second}} {{localize config.character.ability}}</h4>
            </div>

            {{!-- Row 1 --}}
            <div class="primaryHeader">
                <h4>{{localize config.character.primary}} {{localize config.character.ability}}</h4>
            </div>
            <div class="focus secondaryScore">
                <label>{{localize config.character.scores.foc}}</label>
                <input type="text" name="system.abilities.secondary.foc" value="{{actor.system.abilities.secondary.foc}}" data-dtype="Number">
            </div>
            <div class="endurance secondaryScore">
                <label>{{localize config.character.scores.end}}</label>
                <input type="text" name="system.abilities.secondary.end" value="{{actor.system.abilities.secondary.end}}" data-dtype="Number">
            </div>
            <div class="reflex secondaryScore">
                <label>{{localize config.character.scores.ref}}</label>
                <input type="text" name="system.abilities.secondary.ref" value="{{actor.system.abilities.secondary.ref}}" data-dtype="Number">
            </div>

            {{!-- Row 2 --}}
            <div class="strength primaryScore">
                <label>{{localize config.character.scores.str}}</label>
                <input type="text" name="system.abilities.primary.str" value="{{actor.system.abilities.primary.str}}" data-dtype="Number">
            </div>
            <div class="calcScore">
                <label>{{localize config.character.scores.str}} {{localize config.character.scores.foc}}</label>
                <input type="text" name="system.abilities.calc.sf" value="{{actor.system.abilities.calc.sf}}" data-dtype="Number" disabled>
            </div>
            <div class="calcScore">
                <label>{{localize config.character.scores.str}} {{localize config.character.scores.end}}</label>
                <input type="text" name="system.abilities.calc.se" value="{{actor.system.abilities.calc.se}}" data-dtype="Number" disabled>
            </div>
            <div class="calcScore">
                <label>{{localize config.character.scores.str}} {{localize config.character.scores.ref}}</label>
                <input type="text" name="system.abilities.calc.sr" value="{{actor.system.abilities.calc.sr}}" data-dtype="Number" disabled>
            </div>

            {{!-- Row 3 --}}
            <div class="pysche primaryScore">
                <label>{{localize config.character.scores.psy}}</label>
                <input type="text" name="system.abilities.primary.psy" value="{{actor.system.abilities.primary.psy}}" data-dtype="Number">
            </div>
            <div class="calcScore">
                <label>{{localize config.character.scores.psy}} {{localize config.character.scores.foc}}</label>
                <input type="text" name="system.abilities.calc.pf" value="{{actor.system.abilities.calc.pf}}" data-dtype="Number" disabled>
            </div>
            <div class="calcScore">
                <label>{{localize config.character.scores.psy}} {{localize config.character.scores.end}}</label>
                <input type="text" name="system.abilities.calc.pe" value="{{actor.system.abilities.calc.pe}}" data-dtype="Number" disabled>
            </div>
            <div class="calcScore">
                <label>{{localize config.character.scores.psy}} {{localize config.character.scores.ref}}</label>
                <input type="text" name="system.abilities.calc.pr" value="{{actor.system.abilities.calc.pr}}" data-dtype="Number" disabled>
            </div>

            {{!-- Row 4 --}}
            <div class="technique primaryScore">
                <label>{{localize config.character.scores.tec}}</label>
                <input type="text" name="system.abilities.primary.tec" value="{{actor.system.abilities.primary.tec}}" data-dtype="Number">
            </div>
            <div class="calcScore">
                <label>{{localize config.character.scores.tec}} {{localize config.character.scores.foc}}</label>
                <input type="text" name="system.abilities.calc.tf" value="{{actor.system.abilities.calc.tf}}" data-dtype="Number" disabled>
            </div>
            <div class="calcScore">
                <label>{{localize config.character.scores.tec}} {{localize config.character.scores.end}}</label>
                <input type="text" name="system.abilities.calc.te" value="{{actor.system.abilities.calc.te}}" data-dtype="Number" disabled>
            </div>
            <div class="calcScore">
                <label>{{localize config.character.scores.tec}} {{localize config.character.scores.ref}}</label>
                <input type="text" name="system.abilities.calc.tr" value="{{actor.system.abilities.calc.tr}}" data-dtype="Number" disabled>
            </div>

            {{!-- Row 5 --}}
            <div class="intelligence primaryScore">
                <label>{{localize config.character.scores.int}}</label>
                <input type="text" name="system.abilities.primary.int" value="{{actor.system.abilities.primary.int}}" data-dtype="Number">
            </div>
            <div class="calcScore">
                <label>{{localize config.character.scores.int}} {{localize config.character.scores.foc}}</label>
                <input type="text" name="system.abilities.calc.if" value="{{actor.system.abilities.calc.if}}" data-dtype="Number" disabled>
            </div>
            <div class="calcScore">
                <label>{{localize config.character.scores.int}} {{localize config.character.scores.end}}</label>
                <input type="text" name="system.abilities.calc.ie" value="{{actor.system.abilities.calc.ie}}" data-dtype="Number" disabled>
            </div>
            <div class="calcScore lastCell">
                <label>{{localize config.character.scores.int}} {{localize config.character.scores.ref}}</label>
                <input type="text" name="system.abilities.calc.ir" value="{{actor.system.abilities.calc.ir}}" data-dtype="Number" disabled>
            </div>
        </div>
        {{!-- Adventures Container --}}
        <div class="grid grid-4col adventuresContainer">
            <label>{{localize config.character.experience.ads}}: </label>
            <input type="text" name="system.adventures.current" value="{{actor.system.adventures.current}}" data-dtype="Number">

            <label>{{localize config.character.experience.com}}: </label>
            <input type="text" name="system.adventures.completed" value="{{actor.system.adventures.completed}}" data-dtype="Number">
        </div>
    </div>
    <div class="classLevels grid-span-2">
        <h2>{{localize config.character.clWd}}</h2>
        <div class="grid grid-3col">
            {{!-- Fighter --}}
            <label class="grid-span-2">{{localize config.character.classes.figh}}</label>
            <input type="text" name="system.levels.classes.fighter" value="{{actor.system.levels.classes.fighter}}" data-dtype="Number">
            {{!-- Monk --}}
            <label class="grid-span-2">{{localize config.character.classes.monk}}</label>
            <input type="text" name="system.levels.classes.monk" value="{{actor.system.levels.classes.monk}}" data-dtype="Number">
            {{!-- Ranger --}}
            <label class="grid-span-2">{{localize config.character.classes.rang}}</label>
            <input type="text" name="system.levels.classes.ranger" value="{{actor.system.levels.classes.ranger}}" data-dtype="Number">
            {{!-- Scout --}}
            <label class="grid-span-2">{{localize config.character.classes.scou}}</label>
            <input type="text" name="system.levels.classes.scout" value="{{actor.system.levels.classes.scout}}" data-dtype="Number">
            {{!-- Sorcerer --}}
            <label class="grid-span-2">{{localize config.character.classes.sorc}}</label>
            <input type="text" name="system.levels.classes.sorcerer" value="{{actor.system.levels.classes.sorcerer}}" data-dtype="Number">
            {{!-- Priest --}}
            <label class="grid-span-2">{{localize config.character.classes.prie}}</label>
            <input type="text" name="system.levels.classes.priest" value="{{actor.system.levels.classes.priest}}" data-dtype="Number">
            {{!-- Dragon Priest --}}
            <label class="grid-span-2">{{localize config.character.classes.dPri}}</label>
            <input type="text" name="system.levels.classes.dragon" value="{{actor.system.levels.classes.dragon}}" data-dtype="Number">
            {{!-- Shaman --}}
            <label class="grid-span-2">{{localize config.character.classes.sham}}</label>
            <input type="text" name="system.levels.classes.shaman" value="{{actor.system.levels.classes.shaman}}" data-dtype="Number">
        </div>
    </div>
    <div class="attrition grid-span-5">
        <h2>{{localize config.character.attr}}</h2>
        <div class="attritionContainer grid grid-4col">
            {{!-- Row 1 --}}
            <div class="attritionBlock">
                <div class="grid grid-6col">
                    <input type="checkbox" name="system.attrition.0" {{#if actor.system.attrition.[0]}}{{checked}}{{/if}} />
                    <input type="checkbox" name="system.attrition.1" {{#if actor.system.attrition.[1]}}{{checked}}{{/if}} />
                    <input type="checkbox" name="system.attrition.2" {{#if actor.system.attrition.[2]}}{{checked}}{{/if}} />
                    <input type="checkbox" name="system.attrition.3" {{#if actor.system.attrition.[3]}}{{checked}}{{/if}} />
                    <input type="checkbox" name="system.attrition.4" {{#if actor.system.attrition.[4]}}{{checked}}{{/if}} class="spiked" />
                    <label class="attNum">5</label>
                </div>
            </div>
            <div class="attritionBlock">
                <div class="grid grid-6col">
                    <input type="checkbox" name="system.attrition.5" {{#if actor.system.attrition.[5]}}{{checked}}{{/if}} />
                    <input type="checkbox" name="system.attrition.6" {{#if actor.system.attrition.[6]}}{{checked}}{{/if}} />
                    <input type="checkbox" name="system.attrition.7" {{#if actor.system.attrition.[7]}}{{checked}}{{/if}} class="spiked" />
                    <input type="checkbox" name="system.attrition.8" {{#if actor.system.attrition.[8]}}{{checked}}{{/if}} />
                    <input type="checkbox" name="system.attrition.9" {{#if actor.system.attrition.[9]}}{{checked}}{{/if}} />
                    <label class="attNum">10</label>
                </div>
            </div>
            <div class="attritionBlock">
                <div class="grid grid-6col">
                    <input type="checkbox" name="system.attrition.10" {{#if actor.system.attrition.[10]}}{{checked}}{{/if}} class="spiked" />
                    <input type="checkbox" name="system.attrition.11" {{#if actor.system.attrition.[11]}}{{checked}}{{/if}} />
                    <input type="checkbox" name="system.attrition.12" {{#if actor.system.attrition.[12]}}{{checked}}{{/if}} />
                    <input type="checkbox" name="system.attrition.13" {{#if actor.system.attrition.[13]}}{{checked}}{{/if}} class="spiked" />
                    <input type="checkbox" name="system.attrition.14" {{#if actor.system.attrition.[14]}}{{checked}}{{/if}} />
                    <label class="attNum">15</label>
                </div>
            </div>
            <div class="attritionBlock">
                <div class="grid grid-6col">
                    <input type="checkbox" name="system.attrition.15" {{#if actor.system.attrition.[15]}}{{checked}}{{/if}} class="spiked" />
                    <input type="checkbox" name="system.attrition.16" {{#if actor.system.attrition.[16]}}{{checked}}{{/if}} />
                    <input type="checkbox" name="system.attrition.17" {{#if actor.system.attrition.[17]}}{{checked}}{{/if}} class="spiked" />
                    <input type="checkbox" name="system.attrition.18" {{#if actor.system.attrition.[18]}}{{checked}}{{/if}} />
                    <input type="checkbox" name="system.attrition.19" {{#if actor.system.attrition.[19]}}{{checked}}{{/if}} class="spiked" />
                    <label class="attNum">20</label>
                </div>
            </div>
            {{!-- Row 2 --}}
            <div class="attritionBlock">
                <div class="grid grid-6col">
                    <input type="checkbox" name="system.attrition.20" {{#if actor.system.attrition.[20]}}{{checked}}{{/if}} class="spiked" />
                    <input type="checkbox" name="system.attrition.21" {{#if actor.system.attrition.[21]}}{{checked}}{{/if}} class="spiked" />
                    <input type="checkbox" name="system.attrition.22" {{#if actor.system.attrition.[22]}}{{checked}}{{/if}} class="spiked" />
                    <input type="checkbox" name="system.attrition.23" {{#if actor.system.attrition.[23]}}{{checked}}{{/if}} class="spiked" />
                    <input type="checkbox" name="system.attrition.24" {{#if actor.system.attrition.[24]}}{{checked}}{{/if}} class="spiked" />
                    <label class="attNum">25</label>
                </div>
            </div>
            <div class="attritionBlock">
                <div class="grid grid-6col">
                    <input type="checkbox" name="system.attrition.25" {{#if actor.system.attrition.[25]}}{{checked}}{{/if}} class="spiked" />
                    <input type="checkbox" name="system.attrition.26" {{#if actor.system.attrition.[26]}}{{checked}}{{/if}} class="spiked" />
                    <input type="checkbox" name="system.attrition.27" {{#if actor.system.attrition.[27]}}{{checked}}{{/if}} class="spiked" />
                    <input type="checkbox" name="system.attrition.28" {{#if actor.system.attrition.[28]}}{{checked}}{{/if}} class="spiked" />
                    <input type="checkbox" name="system.attrition.29" {{#if actor.system.attrition.[29]}}{{checked}}{{/if}} class="spiked" />
                    <label class="attNum">30</label>
                </div>
            </div>
            <div class="attritionBlock">
                <div class="grid grid-6col">
                    <input type="checkbox" name="system.attrition.30" {{#if actor.system.attrition.[30]}}{{checked}}{{/if}} class="spiked" />
                    <input type="checkbox" name="system.attrition.31" {{#if actor.system.attrition.[31]}}{{checked}}{{/if}} class="spiked" />
                    <input type="checkbox" name="system.attrition.32" {{#if actor.system.attrition.[32]}}{{checked}}{{/if}} class="spiked" />
                    <input type="checkbox" name="system.attrition.33" {{#if actor.system.attrition.[33]}}{{checked}}{{/if}} class="spiked" />
                    <input type="checkbox" name="system.attrition.34" {{#if actor.system.attrition.[34]}}{{checked}}{{/if}} class="spiked" />
                    <label class="attNum">35</label>
                </div>
            </div>
            <div class="attritionBlock">
                <div class="grid grid-6col">
                    <input type="checkbox" name="system.attrition.35" {{#if actor.system.attrition.[35]}}{{checked}}{{/if}} class="spiked" />
                    <input type="checkbox" name="system.attrition.36" {{#if actor.system.attrition.[36]}}{{checked}}{{/if}} class="spiked" />
                    <input type="checkbox" name="system.attrition.37" {{#if actor.system.attrition.[37]}}{{checked}}{{/if}} class="spiked" />
                    <input type="checkbox" name="system.attrition.38" {{#if actor.system.attrition.[38]}}{{checked}}{{/if}} class="spiked" />
                    <input type="checkbox" name="system.attrition.39" {{#if actor.system.attrition.[39]}}{{checked}}{{/if}} class="spiked" />
                    <label class="attNum">40</label>
                </div>
            </div>
        </div>
    </div>
    <div class="fatigue grid-span-2">
        <h2>{{localize config.character.fatW}}</h2>
        <div class="fatigueContainer grid grid-7col">
            {{!-- TODO: Work out fatigue checkbox system --}}
            {{!-- Rank 1 --}}
            <input type="checkbox" name="" /><input type="checkbox" name="" /><input type="checkbox" name="" /><input type="checkbox" name="" /><input type="checkbox" name="" /><div class="ex"><input type="checkbox" name="" disabled/></div><label class="rank" title="{{localize config.character.fatigue.ran1}}">1</label>
            {{!-- Rank 2 --}}
            <div></div><input type="checkbox" name="" /><input type="checkbox" name="" /><input type="checkbox" name="" /><input type="checkbox" name="" /><div class="ex"><input type="checkbox" name="" disabled/></div><label class="rank" title="{{localize config.character.fatigue.ran2}}">2</label>
            {{!-- Rank 3 --}}
            <div></div><div></div><input type="checkbox" name="" /><input type="checkbox" name="" /><input type="checkbox" name="" /><div class="ex"><input type="checkbox" name="" disabled/></div><label class="rank" title="{{localize config.character.fatigue.ran3}}">3</label>
            {{!-- Rank 4 --}}
            <div></div><div></div><div></div><input type="checkbox" name="" /><input type="checkbox" name="" /><div class="ex"><input type="checkbox" name="" disabled/></div><label class="rank" title="{{localize config.character.fatigue.ran4}}">4</label>
            {{!-- Rank 5 --}}
            <div></div><div></div><div></div><div></div><input type="checkbox" name="" /><div class="ex"><input type="checkbox" name="" disabled/></div><label class="rank" title="{{localize config.character.fatigue.ran5}}">5</label>
        </div>
    </div>
</div>
