<form class="{{cssClass}}{{data.actor.type}} grid grid-5col" autocomplete="off">
        <img src="{{data.actor.img}}" data-edit="img" title="{{data.actor.name}}" />
        <h1 class="class grid-span-4">
            <div class="grid grid-6col">
                <input name="name" type="text" value="{{data.actor.name}}" class="grid-span-3" />
                <label></label>
            </div>
        </h1>
    <div class="sidebar">
        <div class="actor-main-info">
            {{> "systems/gs/templates/actors/partials/character/important-info.hbs" }}
        </div>
    </div>
</form>
