<form class="{{cssClass}}{{data.actor.type}}" autocomplete="off">
    <div class="headerInfo grid grid-5col">
        <img src="{{data.actor.img}}" data-edit="img" title="{{data.actor.name}}" />
        <div class="grid-span-4 coreItems">
            <div class="grid grid-6col reveal-rollable">
                {{!-- 1st Row --}}
                <input name="name" class="grid-span-2" type="text" value="{{data.actor.name}}" />

                <label>{{localize config.monster.type}}</label>
                <input name="system.typ" type="text" value="{{actor.system.typ}}" />

                <label>{{localize config.common.leve}} </label>
                <input name="system.lifeForce.double" type="text" value="{{actor.system.lifeForce.double}}" data-dtype="Number" />

                {{!-- 2nd Row --}}
                <div class="grid-span-2">
                    <div class="grid grid-4col">
                        <label>{{localize config.common.life}} </label>
                        <input name="system.lifeForce.min" type="text" value="{{actor.system.lifeForce.min}}" data-dtype="Number" />
                        <label>{{localize config.common.max}} </label>
                        <input type="text" name="system.lifeForce.max" value="{{actor.system.lifeForce.max}}" data-dtype="Number" />
                    </div>
                </div>

                <label class="monsterSR">{{localize config.common.spRe}}&nbsp;<i class="fa-solid fa-dice"></i></label>
                <input name="system.spellRes" type="text" value="{{actor.system.spellRes}}" class="monster spellRes" />

                <label>{{localize config.common.move}} </label>
                <input type="text" name="system.move" value="{{actor.system.move}}" data-dtype="Number" />

                {{!-- 3rd Row --}}

                <label>{{localize config.monster.init}} </label>
                <input type="text" name="system.init" value="{{actor.system.init}}">

                <label>{{localize config.monster.inte}} </label>
                <select name="system.inte">
                    {{#select actor.system.inte}}
                        {{#each config.monster.intelligence as |label id|}}
                            <option value="{{localize label}}">{{localize label}}</option>
                        {{/each}}
                    {{/select}}
                </select>

                <label>{{localize config.monster.mora}} </label>
                <input type="text" name="system.morale" value="{{actor.system.morale}}" data-dtype="Number" />
            </div>
        </div>
    </div>
    <hr>
    {{!-- Attack Row --}}
    <div class="grid grid-10col melee">
        <h2 class="grid-span-9">{{localize config.monster.atta}}</h2> <input type="text" name="system.numAttacks" value="{{actor.system.numAttacks}}" data-dtype="Number" />
        {{!-- 1st Row --}}
        <label>{{localize config.monster.name}}</label>
        <input type="text" name="system.attacks.0.name" value="{{actor.system.attacks.0.name}}" class="grid-span-3" />

        <label>{{localize config.monster.type}} </label>
        <select name="system.attacks.0.type" class="grid-span-3">
            {{#select actor.system.attacks.0.type}}
                {{#each config.monster.types as |label id|}}
                    <option value="{{localize label}}">{{localize label}}</option>
                {{/each}}
            {{/select}}
        </select>

        <label>{{localize config.monster.ran}} </label>
        <select name="system.attacks.0.range">
            {{#select actor.system.attacks.0.range}}
                {{#each config.monster.range as |number id|}}
                    <option value="{{number}}">{{number}}</option>
                {{/each}}
            {{/select}}
        </select>

        {{!-- 2nd row --}}
        <div class="grid-span-4 reveal-rollable">
            <div class="grid grid-4col monsterHit">
                <label class="minionHit">{{localize config.monster.mChec}}&nbsp;<i class="fa-solid fa-dice"></i></label>
                <input type="text" name="system.attacks.0.mCheck" value="{{actor.system.attacks.0.mCheck}}" class="minionStatic hit" >
                <label class="bossHit">{{localize config.monster.chec}}&nbsp;<i class="fa-solid fa-dice"></i></label>
                <input type="text" name="system.attacks.0.check" value="{{actor.system.attacks.0.check}}" class="hitMod" >
            </div>
        </div>

        <div class="grid-span-6 reveal-rollable">
            <div class="grid grid-6col monsterPower">
                <label class="grid-span-2 mPower">{{localize config.monster.powe}}&nbsp;<i class="fa-solid fa-dice"></i></label>
                <input type="text" name="system.attacks.0.power" value="{{actor.system.attacks.0.power}}" class="power">
                <label>{{localize config.monster.type}}</label>
                <select name="system.attacks.0.pType" class="grid-span-2">
                    {{#select actor.system.attacks.0.pType}}
                        {{#each config.monster.attackType as |attack id|}}
                            <option value="{{localize attack}}">{{localize attack}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>

        {{#if (gte actor.system.numAttacks 2)}}
        {{!-- 1st Row --}}
        <hr class="grid-span-10">
        <label>{{localize config.monster.name}}</label>
        <input type="text" name="system.attacks.1.name" value="{{actor.system.attacks.1.name}}" class="grid-span-3" />

        <label>{{localize config.monster.type}} </label>
        <select name="system.attacks.1.type" class="grid-span-3">
            {{#select actor.system.attacks.1.type}}
                {{#each config.monster.types as |label id|}}
                    <option value="{{localize label}}">{{localize label}}</option>
                {{/each}}
            {{/select}}
        </select>

        <label>{{localize config.monster.ran}} </label>
        <select name="system.attacks.1.range">
            {{#select actor.system.attacks.1.range}}
                {{#each config.monster.range as |number id|}}
                    <option value="{{number}}">{{number}}</option>
                {{/each}}
            {{/select}}
        </select>

        {{!-- 2nd row --}}
        <div class="grid-span-4 reveal-rollable">
            <div class="grid grid-4col monsterHit">
                <label class="minionHit">{{localize config.monster.mChec}}&nbsp;<i class="fa-solid fa-dice"></i></label>
                <input type="text" name="system.attacks.1.mCheck" value="{{actor.system.attacks.1.mCheck}}" class="minionStatic hit" >
                <label class="bossHit">{{localize config.monster.chec}}&nbsp;<i class="fa-solid fa-dice"></i></label>
                <input type="text" name="system.attacks.1.check" value="{{actor.system.attacks.1.check}}" class="hitMod" >
            </div>
        </div>

        <div class="grid-span-6 reveal-rollable">
            <div class="grid grid-6col monsterPower">
                <label class="grid-span-2 mPower">{{localize config.monster.powe}}&nbsp;<i class="fa-solid fa-dice"></i></label>
                <input type="text" name="system.attacks.1.power" value="{{actor.system.attacks.1.power}}" class="power">
                <label>{{localize config.monster.type}}</label>
                <select name="system.attacks.1.pType" class="grid-span-2">
                    {{#select actor.system.attacks.1.pType}}
                        {{#each config.monster.attackType as |attack id|}}
                            <option value="{{localize attack}}">{{localize attack}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
        {{/if}}

        {{#if (gte actor.system.numAttacks 3)}}
        {{!-- 1st Row --}}
        <hr class="grid-span-10">
        <label>{{localize config.monster.name}}</label>
        <input type="text" name="system.attacks.2.name" value="{{actor.system.attacks.2.name}}" class="grid-span-3" />

        <label>{{localize config.monster.type}} </label>
        <select name="system.attacks.2.type" class="grid-span-3">
            {{#select actor.system.attacks.2.type}}
                {{#each config.monster.types as |label id|}}
                    <option value="{{localize label}}">{{localize label}}</option>
                {{/each}}
            {{/select}}
        </select>

        <label>{{localize config.monster.ran}} </label>
        <select name="system.attacks.2.range">
            {{#select actor.system.attacks.2.range}}
                {{#each config.monster.range as |number id|}}
                    <option value="{{number}}">{{number}}</option>
                {{/each}}
            {{/select}}
        </select>

        {{!-- 2nd row --}}
        <div class="grid-span-4 reveal-rollable">
            <div class="grid grid-4col monsterHit">
                <label class="minionHit">{{localize config.monster.mChec}}&nbsp;<i class="fa-solid fa-dice"></i></label>
                <input type="text" name="system.attacks.2.mCheck" value="{{actor.system.attacks.2.mCheck}}" class="minionStatic hit" >
                <label class="bossHit">{{localize config.monster.chec}}&nbsp;<i class="fa-solid fa-dice"></i></label>
                <input type="text" name="system.attacks.2.check" value="{{actor.system.attacks.2.check}}" class="hitMod" >
            </div>
        </div>

        <div class="grid-span-6 reveal-rollable">
            <div class="grid grid-6col monsterPower">
                <label class="grid-span-2 mPower">{{localize config.monster.powe}}&nbsp;<i class="fa-solid fa-dice"></i></label>
                <input type="text" name="system.attacks.2.power" value="{{actor.system.attacks.2.power}}" class="power">
                <label>{{localize config.monster.type}}</label>
                <select name="system.attacks.2.pType" class="grid-span-2">
                    {{#select actor.system.attacks.2.pType}}
                        {{#each config.monster.attackType as |attack id|}}
                            <option value="{{localize attack}}">{{localize attack}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
        {{/if}}

        {{#if (gte actor.system.numAttacks 4)}}
        {{!-- 1st Row --}}
        <hr class="grid-span-10">
        <label>{{localize config.monster.name}}</label>
        <input type="text" name="system.attacks.3.name" value="{{actor.system.attacks.3.name}}" class="grid-span-3" />

        <label>{{localize config.monster.type}} </label>
        <select name="system.attacks.3.type" class="grid-span-3">
            {{#select actor.system.attacks.3.type}}
                {{#each config.monster.types as |label id|}}
                    <option value="{{localize label}}">{{localize label}}</option>
                {{/each}}
            {{/select}}
        </select>

        <label>{{localize config.monster.ran}} </label>
        <select name="system.attacks.3.range">
            {{#select actor.system.attacks.3.range}}
                {{#each config.monster.range as |number id|}}
                    <option value="{{number}}">{{number}}</option>
                {{/each}}
            {{/select}}
        </select>

        {{!-- 2nd row --}}
        <div class="grid-span-4 reveal-rollable">
            <div class="grid grid-4col monsterHit">
                <label class="minionHit">{{localize config.monster.mChec}}&nbsp;<i class="fa-solid fa-dice"></i></label>
                <input type="text" name="system.attacks.3.mCheck" value="{{actor.system.attacks.3.mCheck}}" class="minionStatic hit" >
                <label class="bossHit">{{localize config.monster.chec}}&nbsp;<i class="fa-solid fa-dice"></i></label>
                <input type="text" name="system.attacks.3.check" value="{{actor.system.attacks.3.check}}" class="hitMod" >
            </div>
        </div>

        <div class="grid-span-6 reveal-rollable">
            <div class="grid grid-6col monsterPower">
                <label class="grid-span-2 mPower">{{localize config.monster.powe}}&nbsp;<i class="fa-solid fa-dice"></i></label>
                <input type="text" name="system.attacks.3.power" value="{{actor.system.attacks.3.power}}" class="power">
                <label>{{localize config.monster.type}}</label>
                <select name="system.attacks.3.pType" class="grid-span-2">
                    {{#select actor.system.attacks.3.pType}}
                        {{#each config.monster.attackType as |attack id|}}
                            <option value="{{localize attack}}">{{localize attack}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
        {{/if}}
    </div>
    <hr>
    {{!-- Def Row --}}
    <div class="grid grid-10col defense">
        <h2 class="grid-span-10">{{localize config.monster.defe}}</h2>

        {{!-- Minion Values --}}
        <h3 class="">{{localize config.monster.types.minion}}</h3>
        <div class="grid-span-9">
            <div class="grid grid-8col reveal-rollable">
                <label class="minionDodge">{{localize config.monster.dodg}}&nbsp;<i class="fa-solid fa-dice"></i></label>
                <input type="text" name="system.defenses.minion.dodge" value="{{actor.system.defenses.minion.dodge}}" data-dtype="Number" class="minionStatic dodge" />

                <label class="minionBlock">{{localize config.monster.bloc}}&nbsp;<i class="fa-solid fa-dice"></i></label>
                <input type="text" name="system.defenses.minion.block" value="{{actor.system.defenses.minion.block}}" data-dtype="Number" class="minionStatic block" />

                <label>{{localize config.monster.aSco}}</label>
                <input type="text" name="system.defenses.minion.armor" value="{{actor.system.defenses.minion.armor}}" data-dtype="Number" />

                <label>{{localize config.monster.type}}</label>
                <input type="text" name="system.defenses.minion.aType" value="{{actor.system.defenses.minion.aType}}">
            </div>
        </div>

        {{!-- Boss Values --}}
        <h3 class="">{{localize config.monster.types.boss}}</h3>
        <div class="grid-span-9">
            <div class="grid grid-8col reveal-rollable">
                <label class="bossDodge">{{localize config.monster.dodg}}&nbsp;<i class="fa-solid fa-dice"></i></label>
                <input type="text" name="system.defenses.boss.dodge" value="{{actor.system.defenses.boss.dodge}}" class="boss dodge" />

                <label class="bossBlock">{{localize config.monster.bloc}}&nbsp;<i class="fa-solid fa-dice"></i></label>
                <input type="text" name="system.defenses.boss.block" value="{{actor.system.defenses.boss.block}}" class="boss block" />

                <label>{{localize config.monster.aSco}}</label>
                <input type="text" name="system.defenses.boss.armor" value="{{actor.system.defenses.boss.armor}}" data-dtype="Number" />

                <label>{{localize config.monster.type}}</label>
                <input type="text" name="system.defenses.boss.aType" value="{{actor.system.defenses.boss.aType}}">
            </div>
        </div>
    </div>
    <hr>
    {{!-- Support and Abilities --}}
    <div class="grid grid-6col">
        <label>{{localize config.monster.supp}}</label>
        <span class="grid-span-5">{{editor actor.system.support target="system.support" button=true engine="prosemirror"}}</span>

        <label>{{localize config.monster.spec}}</label>
        <span class="grid-span-5">{{editor actor.system.abilities target="system.abilities" button=true engine="prosemirror"}}</span>
    </div>
    {{!-- Monster Comment --}}
    <div>
        {{editor actor.system.comment target="system.comment" button=true engine="prosemirror"}}
    </div>
</form>
