<form class="{{#each data.options.classes as |class id|}}{{class}} {{/each}} {{data.actor.type}} monster" autocomplete="off">
    <div class="headerInfo grid grid-6col">
        <img src="{{data.actor.img}}" data-edit="img" title="{{data.actor.name}}" />
        <div class="grid-span-5 coreItems">
            <h2><input name="name" class="grid-span-2" type="text" value="{{data.actor.name}}" /></h2>
            <div class="grid grid-8col">
                {{!-- 1st Row --}}
                <label>{{localize config.common.life}} </label>
                <input name="system.lifeForce.value" type="text" value="{{actor.system.lifeForce.value}}" data-dtype="Number" />

                <label>{{localize config.common.max}} </label>
                <input type="text" name="system.lifeForce.max" value="{{actor.system.lifeForce.max}}" data-dtype="Number" />

                <label>{{localize config.monster.type}}</label>
                <input name="system.type" type="text" value="{{actor.system.type}}" />

                <label>{{localize config.common.leve}} </label>
                <input name="system.lifeForce.double" type="text" value="{{actor.system.lifeForce.double}}" data-dtype="Number" />
            </div>
            <div class="grid grid-8col reveal-rollable">

                {{!-- 2nd Row --}}
                <label class="actorRolls bossSR grid-span-2" title="{{localize config.monster.min}} {{localize config.common.spRe}}">{{localize config.common.spRe}}&nbsp;<i class="fa-solid fa-dice"></i></label>
                <input name="system.spellRes" type="text" value="{{actor.system.spellRes}}" class="minion spellRes grid-span-2" />

                <label>{{localize config.common.move}} </label>
                <input type="text" name="system.move" value="{{actor.system.move}}" data-dtype="Number" />

                {{!-- 3rd Row --}}
                <label>{{localize config.monster.inte}} </label>
                <select name="system.inte">
                    {{#each config.monster.intelligence as |label key|}}
						<option value="{{label}}" {{#if (eq label ../actor.system.inte)}}selected{{/if}}>
							{{localize label}}
						</option>
					{{/each}}
                </select>

                <label>{{localize 'gs.gear.mTech.cost'}}</label>
                <input type="text" name="system.cost" value="{{actor.system.cost}}" data-dtype="Number">

                <span class="switch-container grid-span-2">
                    <div class="alert" title="{{localize "gs.dialog.monsterSheet.block"}}"><i class="fa-solid fa-circle-exclamation"></i></div>
                    <span class="switch-label">{{localize config.monster.bloc}}?</span>
                    <label class="switch">
                        <input type="checkbox" data-key="type" id="skill-switch" name="system.hasBlock" {{checked actor.system.hasBlock}} />
                        <span class="slider"></span>
                    </label>
                    <span class="switch-label">{{localize config.skill.adv}}</span>
                </span>
            </div>
        </div>
    </div>
    {{!-- Attack Row --}}
    <div class="grid grid-10col melee">
        <h2 class="grid-span-9">{{localize config.monster.atta}}</h2>
        {{!-- <input type="text" name="system.numAttacks" value="{{actor.system.numAttacks}}" data-dtype="Number" class="numOfAttacks" />
        <div class="alert" title="{{localize "gs.dialog.monsterSheet.numOfAttacks"}}"><i class="fa-solid fa-circle-exclamation"></i></div> --}}
        {{!-- 1st Row --}}
        <label>{{localize config.monster.name}}</label>
        <input type="text" name="system.attacks.name" value="{{actor.system.attacks.name}}" class="grid-span-3" />

        <label>{{localize config.monster.type}} </label>
        <select name="system.attacks.type" class="grid-span-3">
            {{#each config.monster.types as |label key|}}
                <option value="{{localize label}}" {{#if (eq (localize label) ../actor.system.attacks.type)}}selected{{/if}}>
                    {{localize label}}
                </option>
            {{/each}}
        </select>

        <label>{{localize config.monster.ran}} </label>
        <select name="system.attacks.range">
            {{#each config.monster.range as |label key|}}
                <option value="{{label}}" {{#if (eq label ../actor.system.attacks.range)}}selected{{/if}} data-dtype="Number">
                    {{key}}
                </option>
            {{/each}}
        </select>

        {{!-- 2nd row --}}
        <div class="grid-span-4 reveal-rollable">
            <div class="grid grid-4col monsterHit">
                <label class="actorRolls bossHit grid-span-2">{{localize 'gs.actor.monster.supportEffect.hit'}}&nbsp;<i class="fa-solid fa-dice"></i></label>
                <input type="text" name="system.attacks.mCheck" value="{{actor.system.attacks.mCheck}}" class="minionStatic hit grid-span-2" >
            </div>
        </div>

        <div class="grid-span-6 reveal-rollable">
            <div class="grid grid-6col monsterPower">
                <label class="actorRolls mPower grid-span-2">{{localize config.monster.powe}}&nbsp;<i class="fa-solid fa-dice"></i></label>
                <input type="text" name="system.attacks.power" value="{{actor.system.attacks.power}}" class="power">
                <label>{{localize config.monster.type}}</label>
                <select name="system.attacks.pType" class="grid-span-2">
                    {{#each config.monster.attackType as |label key|}}
						<option value="{{label}}" {{#if (eq label ../actor.system.attacks.pType)}}selected{{/if}}>
							{{localize label}}
						</option>
					{{/each}}
                </select>
            </div>
        </div>
    </div>
    {{!-- Def Row --}}
    <div class="grid grid-10col defense">
        <h2 class="grid-span-10">{{localize config.monster.defe}}</h2>

        {{!-- Minion Values --}}
        <div class="grid grid-10col reveal-rollable">
            <label class="actorRolls bossDodge">{{localize config.monster.dodg}}&nbsp;<i class="fa-solid fa-dice"></i></label>
            <input type="text" name="system.defenses.minion.dodge" value="{{actor.system.defenses.minion.dodge}}" class="minionStatic dodge" />

            {{#if actor.system.hasBlock}}
            <label class="actorRolls bossBlock">{{localize config.monster.bloc}}&nbsp;<i class="fa-solid fa-dice"></i></label>
            <input type="text" name="system.defenses.minion.block" value="{{actor.system.defenses.minion.block}}" class="minionStatic block" />

            <label class="actorRolls bossBlock">{{localize gearConfig.shield.sco}}</label>
            <input type="text" name="system.defenses.minion.bScore" value="{{actor.system.defenses.minion.bScore}}" class="minScore minBScore">
            {{/if}}

            <label>{{localize config.monster.aSco}}</label>
            <input type="text" name="system.defenses.minion.armor" value="{{actor.system.defenses.minion.armor}}" data-dtype="Number" />

            <label>{{localize config.monster.type}}</label>
            <input type="text" name="system.defenses.minion.aType" value="{{actor.system.defenses.minion.aType}}">
        </div>
    </div>

    <div class="abilities">
        <h2>{{localize config.monster.spec}}</h2>
        {{editor data.eAbilities target="system.abilities" button=true engine="prosemirror"}}
    </div>
    {{!-- Monster Comment --}}
    <div class="comment">
        <h2>{{localize config.monster.description}}</h2>
        {{editor data.eComment target="system.comment" button=true engine="prosemirror"}}
    </div>
</form>
