<div class="armor-card item item-list">
    <div class="reveal-rollable grid grid-10col contextMenu" data-id="{{_id}}" data-contextType="{{type}}">
        <div class="buttonsToRoll" title="{{localize 'gs.dialog.actorSheet.itemsTab.dodge'}}">
            <button class="actorRolls avoid"><i class="fa-solid fa-person-walking"></i></button>
        </div>
        <img src="{{img}}" title="{{name}}" />
        <div class="name grid-span-2">{{name}}</div>
        <div class="armorScore grid-span-2">{{system.score}}</div>
        <div class="dodge grid-span-2">{{numberFormat system.dodge decimals=0 sign=true}}</div>
        <div class="move">{{numberFormat system.move decimals=0 sign=true}}</div>
        <div class="stealth">{{system.stealth}}</div>
        <input type="hidden" value="{{system.type}}" class="type">
    </div>
</div>
