<div class="item-card item item-list" data-id="{{_id}}">
    <div class="name reveal-rollable grid grid-6col contextMenu" data-id="{{_id}}" data-contextType="{{type}}">
        <img src="{{img}}" title="{{name}}" />
        <div class="name grid-span-4">{{name}}</div>
        <div class="quantity">
            <input type="text" data-inventory="quantity" value="{{getQuantAtIndex data1.items index 'quantity'}}" data-dtype="Number">
        </div>
    </div>
</div>
