<div class="shield-card item item-list">
    <div class="reveal-rollable grid grid-10col contextMenu" data-id="{{_id}}" data-contextType="{{type}}">
        <div class="buttonsToRoll" title="{{localize 'gs.dialog.actorSheet.itemsTab.block'}}">
            <button type="button" class="actorRolls block"><i class="fa-solid fa-shield"></i></i></button>
        </div>
        <img src="{{img}}" title="{{name}}" />
        <div class="name grid-span-3">{{name}}</div>
        <div class="actorRolls blockMod grid-span-2">{{numberFormat system.mod decimals=0 sign=true}}</div>
        <div class="blockScore grid-span-2">{{numberFormat system.score decimals=0 sign=false}}</div>
        <div class="stealth">{{system.stealth}}</div>
        <input type="hidden" value="{{system.type}}" class="type">
    </div>
</div>
