<div class="armor-card item item-list" data-item-id="{{_id}}">
    <div class="reveal-rollable grid grid-10col">
        <div class="move"><button><i class="fa-solid fa-bars"></i></button></div>
        <img src="{{img}}" title="{{name}}" />
        <div class="name grid-span-3">{{name}}</div>
        <div class="blockMod">{{numberFormat system.mod decimals=0 sign=true}}</div>
        <div class="blockScore">{{numberFormat system.score decimals=0 sign=true}}</div>
        <div class="stealth">{{system.stealth}}</div>
        <div class="edit"><button class="edit"><i class="fa-solid fa-pen-to-square"></i></button></div>
        <div class="delete"><button class="delete"><i class="fa-solid fa-trash-can"></i></button></div>
    </div>
</div>