<div class="weapon-card item item-list" data-item-id="{{_id}}">
    <div class="reveal-rollable grid grid-10col">
        <div class="move"><button><i class="fa-solid fa-bars"></i></button></div>
        <img src="{{img}}" title="{{name}}" />
        <div class="name">{{name}}</div>
        <div class="hitMod">{{numberFormat system.hitMod decimals=0 sign=true}}</div>
        <div class="range">{{system.range}}m</div>
        <div class="power">{{system.power}}</div>
        <div class="attribute">{{system.attribute}}</div>
        <div class="use">{{system.use}}</div>
        <div class="edit"><button class="edit"><i class="fa-solid fa-pen-to-square"></i></button></div>
        <div class="delete"><button class="delete"><i class="fa-solid fa-trash-can"></i></button></div>
    </div>
</div>
{{!-- {{log data1}} --}}
