<div class="weapon-card item item-list">
    <div class="reveal-rollable grid grid-10col" data-itemId="{{_id}}">
        <div class="buttonsToRoll">
            <button class="actorRolls toHit" title="{{localize 'gs.dialog.actorSheet.itemsTab.toHit'}}"><i class="fa-solid fa-bullseye"></i></button>
            <button class="actorRolls damage" title="{{localize 'gs.dialog.actorSheet.itemsTab.power'}}"><i class="fa-solid fa-burst"></i></button>
        </div>
        <img src="{{img}}" title="{{name}}" />
        <div class="name grid-span-3" >{{name}}</div>
        <div class="hitMod">{{numberFormat system.hitMod decimals=0 sign=true}}</div>
        <div class="range">{{system.range}}m</div>
        <div class="power">{{system.power}}</div>
        <div class="edit"><button class="edit" data-itemId="{{_id}}"><i class="fa-solid fa-pen-to-square"></i></button></div>
        <div class="delete"><button class="delete" data-itemId="{{_id}}"><i class="fa-solid fa-trash-can"></i></button></div>
        <input type="hidden" value="{{system.type}}" class="type">
    </div>
</div>
