<form class="{{#each data.options.classes as |class id|}}{{class}} {{/each}} {{data.item.type}}" autocomplete="off">
    <div class="grid grid-5col">
        <div>
            <img src="{{data.item.img}}" data-edit="img" title="{{data.item.name}}" />
            <input type="text" name="name" value="{{data.item.name}}">
        </div>
        <div class="description grid-span-4">
            {{editor data.eComment target="system.comment" button=true engine="prosemirror"}}
        </div>
    </div>
    <div class="innateSkills">
        {{!-- <label for="">{{localize raceSheet.innate}}</label> --}}
        {{#each gear.skills as |skill id|}}
            {{#if (eq @index 0)}}
                <h3 class="adventureSkills skillHeader">{{localize ../actorSheet.character.skills.advSW}}</h3>
            {{/if}}
            {{#if (eq skill.system.type true)}}
                <div class="racialSkill grid grid-7col">
                    <img src="{{skill.img}}" alt="{{skill.name}}">
                    <div class="textContainer grid-span-6">
                        <h4>{{skill.name}}</h4>
                        <div class="beginnerSkill">{{stripTags skill.system.beginner}}</div>
                    </div>
                </div>
            {{/if}}
        {{/each}}
        {{#each gear.skills as |skill id|}}
            {{#if (eq @index 0)}}
                <h3 class="generalSkills skillHeader">{{localize ../actorSheet.character.skills.genSW}}</h3>
            {{/if}}
            {{#if (eq skill.system.type "")}}
                <div class="racialSkill grid grid-7col">
                    <img src="{{skill.img}}" alt="{{skill.name}}">
                    <div class="textContainer grid-span-6">
                        <h4>{{skill.name}}</h4>
                        <div class="beginnerSkill">{{stripTags skill.system.beginner}}</div>
                    </div>
                </div>
            {{/if}}
        {{/each}}
        {{!-- Removes drop and drop box once three skills have been added --}}
        {{#if (lt gear.skills.length 3)}}
        <div class="skills" style="width: 100%; height: 50px; border: 1px solid darkred; border-radius: 5px;">
            Drop 1-2 adventurer and 1-2 general skills here. No more than 3 skills in total and no more than 2 in either adventurer or general.
        </div>
        {{/if}}
    </div>
    <div class="scores grid grid-3col">
        {{!-- Primary Header --}}
        <h3 class="header top">{{localize raceSheet.scores.pri}}</h3>
        <h3 class="header top">{{localize raceSheet.scores.fix}}</h3>
        <h3 class="header top">{{localize raceSheet.scores.ran}}</h3>
        {{!-- Str Row --}}
        <div class="stat str">{{localize actorSheet.character.scores.str}}</div>
        <div class="stat str"><input type="text" name="system.scores.fixed.str" value="{{gear.scores.fixed.str}}" data-dtype="Number"></div>
        <div class="stat str"><input type="text" name="system.scores.random.str" value="{{gear.scores.random.str}}"></div>
        {{!-- Psy Row --}}
        <div class="stat psy">{{localize actorSheet.character.scores.psy}}</div>
        <div class="stat psy"><input type="text" name="system.scores.fixed.psy" value="{{gear.scores.fixed.psy}}" data-dtype="Number"></div>
        <div class="stat psy"><input type="text" name="system.scores.random.psy" value="{{gear.scores.random.psy}}"></div>
        {{!-- Tec Row --}}
        <div class="stat tec">{{localize actorSheet.character.scores.tec}}</div>
        <div class="stat tec"><input type="text" name="system.scores.fixed.tec" value="{{gear.scores.fixed.tec}}" data-dtype="Number"></div>
        <div class="stat tec"><input type="text" name="system.scores.random.tec" value="{{gear.scores.random.tec}}"></div>
        {{!-- Int Row --}}
        <div class="stat int">{{localize actorSheet.character.scores.int}}</div>
        <div class="stat int"><input type="text" name="system.scores.fixed.int" value="{{gear.scores.fixed.int}}" data-dtype="Number"></div>
        <div class="stat int"><input type="text" name="system.scores.random.int" value="{{gear.scores.random.int}}"></div>

        {{!-- Secondary Header --}}
        <h3 class="header top">{{localize raceSheet.scores.sec}}</h3>
        <h3 class="header top">{{localize raceSheet.scores.fix}}</h3>
        <h3 class="header top">{{localize raceSheet.scores.ran}}</h3>
        {{!-- Foc Row --}}
        <div class="stat foc">{{localize actorSheet.character.scores.foc}}</div>
        <div class="stat foc"><input type="text" name="system.scores.fixed.foc" value="{{gear.scores.fixed.foc}}" data-dtype="Number"></div>
        <div class="stat foc"><input type="text" name="system.scores.random.foc" value="{{gear.scores.random.foc}}"></div>
        {{!-- End Row --}}
        <div class="stat end">{{localize actorSheet.character.scores.end}}</div>
        <div class="stat end"><input type="text" name="system.scores.fixed.end" value="{{gear.scores.fixed.end}}" data-dtype="Number"></div>
        <div class="stat end"><input type="text" name="system.scores.random.end" value="{{gear.scores.random.end}}"></div>
        {{!-- Ref Row --}}
        <div class="stat ref">{{localize actorSheet.character.scores.ref}}</div>
        <div class="stat ref"><input type="text" name="system.scores.fixed.ref" value="{{gear.scores.fixed.ref}}" data-dtype="Number"></div>
        <div class="stat ref"><input type="text" name="system.scores.random.ref" value="{{gear.scores.random.ref}}"></div>
        {{!-- Move Row --}}
        <div class="stat move grid-span-2">{{localize raceSheet.scores.mov}}</div>
        <div class="stat move"><input type="text" name="system.moveMod" value="{{gear.moveMod}}" data-dtype="Number"></div>
    </div>
</form>
