<form class="{{#each data.options.classes as |class id|}}{{class}} {{/each}} {{data.item.type}} grid grid-5col" autocomplete="off">
    <div class="grid-span-5">
        <span class="top-info grid grid-2col">
            <span class="name">
                <label for="shieldName">{{localize config.common.nam}}:</label>
                <input id="shieldName" name="name" type="text" value="{{data.item.name}}" />
            </span>
            <span class="type">
                <label for="shieldType">{{localize config.common.typ}}:</label>
                <input id="shieldType" name="system.type" type="text" value="{{gear.type}}" />
            </span>
        </span>
    </div>
	<img src="{{data.item.img}}" data-edit="img" title="{{data.item.name}}" />
	<div class="grid-span-4">
		<div class="grid grid-2col">
			<span class="mod">
				<label for="shieldMod">{{localize config.shield.mod}}:</label>
				<input id="shieldMod" name="system.mod" type="text" value="{{numberFormat gear.mod decimals=0 sign=true}}" data-dtype="Number" />
			</span>
			<span class="score">
				<label for="shieldScore">{{localize config.shield.sco}}:</label>
				<input id="shieldScore" name="system.score" type="text" value="{{numberFormat gear.score decimals=0 sign=true}}" data-dtype="Number" />
			</span>
			<span class="stealth">
				<label for="shieldStealth">{{localize config.common.ste}}:</label>
				<select name="system.stealth">
					{{#select gear.stealth}}
						{{#each config.armor.stealth as |number id|}}
							<option value="{{number}}">{{numberFormat number decimals=0 sign=true}} ({{id}})</option>
						{{/each}}
					{{/select}}
				</select>
			</span>
			<span class="value">
				<label for="shieldValue">{{localize config.common.val}}:</label>
				<input id="shieldValue" name="system.value" type="text" value="{{gear.value}}" data-dtype="Number" />
			</span>
		</div>
	</div>
	<span class="effects grid-span-5">
		<label for="shieldEffects">{{localize config.common.eff}}:</label>
		{{editor gear.effects target="system.effects" button=true engine="prosemirror"}}
	</span>
	<span class="comments grid-span-5">
		{{editor gear.comment target="system.comment" button=true engine="prosemirror"}}
	</span>
</form>
