<form class="{{cssClass}}{{data.item.type}} grid grid-5col" autocomplete="off">
    <img src="{{data.item.img}}" data-edit="img" title="{{data.item.name}}" />
    <span class="top-info grid-span-4">
        <span class="name">
            <label for="skillName">{{localize config.common.nam}}:</label>
            <input id="skillName" name="name" type="text" value="{{data.item.name}}" />
        </span>
        <span class="prereq">
            <label for="skillPrereq">{{localize config.skill.pre}}:</label>
            {{editor gear.prereq target="system.prereq" button=true engine="prosemirror"}}
        </span>
        <span class="switch-container">
            <span class="switch-label">{{localize config.skill.gen}}</span>
            <label class="switch">
                <input type="checkbox" data-key="type" id="skill-switch" name="gear.type" {{checked gear.type}} />
                <span class="slider"></span>
            </label>
            <span class="switch-label">{{localize config.skill.adv}}</span>
        </span>
    </span>
    <span class="grid-span-5 description">
        <label for="itemDescription">{{localize config.common.des}}:</label>
        {{editor data.enrichedEffects target="system.effects" button=true engine="prosemirror"}}
    </span>
    <h2 class="grid-span-5">{{localize config.common.eff}} of {{data.item.name}}</h2>

    <h4>{{localize 'gs.gear.skills.gra'}}</h4>
    <h4 class="grid-span-4">{{localize config.common.eff}}</h4>

    <span class="effects" for="skillBeginner">{{localize config.skill.beg}}:</span>
    <span class="grid-span-4">{{editor data.eBeginner target="system.beginner" button=true engine="prosemirror" }}</span>

    <span class="effects" for="skillIntermediate">{{localize config.skill.int}}:</span>
    <span class="grid-span-4">{{editor data.eIntermediate target="system.intermediate" button=true engine="prosemirror" }}</span>

    <span class="effects" for="skillExpert">{{localize config.skill.exp}}:</span>
    <span class="grid-span-4">{{editor data.eExpert target="system.expert" button=true engine="prosemirror" }}</span>
    {{#if gear.type}}
    <span class="effects" for="skillMaster">{{localize config.skill.mas}}:</span>
    <span class="grid-span-4">{{editor data.eMaster target="system.master" button=true engine="prosemirror" }}</span>

    <span class="effects" for="skillLegend">{{localize config.skill.leg}}:</span>
    <span class="grid-span-4">{{editor data.eLegend target="system.legend" button=true engine="prosemirror" }}</span>
    {{/if}}
</form>
