<form class="{{cssClass}}{{data.item.type}}" autocomplete="off">
	<div class="grid grid-5col">
		<img src="{{data.item.img}}" data-edit="img" title="{{data.item.name}}" />
		<div class="grid-span-4">
			<div class="grid grid-2col">
				<span class="name">
					<input name="name" type="text" value="{{data.item.name}}" />
				</span>
				<span class="schools">
					<select name="system.schoolChoice">
						{{#select gear.schoolChoice}}
							{{#each config.spell.schools as |name id|}}
								<option value="{{localize name}}">{{localize name}}</option>
							{{/each}}
						{{/select}}
					</select>
				</span>
				<span class="style">
					<select name="system.styleChoice">
						{{#select gear.styleChoice}}
							{{#each config.spell.styles as |name id|}}
								<option value="{{localize name}}">{{localize name}}</option>
							{{/each}}
						{{/select}}
					</select>
					<select name="system.elementChoice">
						{{#select gear.elementChoice}}
							{{#each config.spell.elements as |name id|}}
								<option value="{{localize name}}">{{localize name}}</option>
							{{/each}}
						{{/select}}
					</select>
				</span>
				<span class="difficulty">
					<span class="grid grid-3col">
						<label for="spellName" class="grid-span-2">{{localize config.spell.dif}}: </label>
						<input name="system.difficulty" type="text" value="{{gear.difficulty}}" data-dtype="Number" />
					</span>
				</span>
			</div>
		</div>
	</div>
	<textarea name="system.comment">{{gear.comment}}</textarea>
	<span class="effects">
		<label for="weaponEffects">{{localize config.common.eff}}:</label>
		<textarea name="system.effects" >{{gear.effects}}</textarea>
		{{!-- {{editor gear.effects target="system.effects" button=true}} --}}
	</span>
	<span class="switch-container">
		<label class="switch">
			<input type="checkbox" data-key="type" id="skill-switch" name="gear.type" {{checked gear.type}} />
			<span class="slider"></span>
		</label>
		<label>{{localize config.spell.efs}}:</label>
	</span>
	{{#if gear.type}}
	{{!-- Using stealth to hold the information of the spell effectiveness rating --}}
	<textarea name="system.stealth">{{gear.stealth}}</textarea>
	{{/if}}
	<span class="chant">
		<label>{{localize config.spell.cha}}:</label>
		<input name="system.chant" type="text" value="{{gear.chant}}" />
	</span>
	<span class="catalyst">
		<label>{{localize config.spell.cat}}:</label>
		<input name="system.catalyst" type="text" value="{{gear.catalyst}}" />
	</span>
</form>
{{log gear}}
{{log config}}
