<form class="{{cssClass}}{{data.item.type}} grid grid-5col" autocomplete="off">
    <div class="grid-span-5">
        <span class="top-info grid grid-2col">
			<span class="name">
				<label for="weaponName">{{localize config.common.nam}}:</label>
				<input id="weaponName" name="name" type="text" value="{{data.item.name}}" />
			</span>
			<span class="type">
				<label for="weaponType">{{localize config.common.typ}}:</label>
				<input id="weaponType" name="system.type" type="text" value="{{gear.type}}" />
			</span>
		</span>
    </div>
	<img src="{{data.item.img}}" data-edit="img" title="{{data.item.name}}" />
	<div class="grid-span-4">
		<div class="grid grid-2col">
			<span class="use">
				<label for="weaponUse">{{localize config.weapons.use}}:</label>
				<input id="weaponUse" name="system.use" type="text" value="{{gear.use}}" />
			</span>
			<span class="attribute">
				<label for="weaponAtt">{{localize config.weapons.att}}:</label>
				<input id="weaponAtt" name="system.attribute" type="text" value="{{gear.attribute}}" />
			</span>
			<span class="power">
				<label for="weaponPower">{{localize config.weapons.pow}}:</label>
				<input id="weaponPower" name="system.power" type="text" value="{{gear.power}}" />
			</span>
			<span class="hitMod">
				<label for="weaponHitMod">{{localize config.weapons.hit}}:</label>
				<input id="weaponHitMod" name="system.hitMod" type="text" value="{{numberFormat gear.hitMod decimals=0 sign=true}}" data-dtype="Number" />
			</span>
			<span class="range">
				<label for="weaponRange">{{localize config.weapons.ran}}:</label>
				<select name="system.range">
					{{#select gear.range}}
						{{#each config.weapons.range as |number id|}}
							<option value="{{numberFormat number decimals=0 sign=false}}" data-dtype="Number">{{id}}</option>
						{{/each}}
					{{/select}}
				</select>
			</span>
			<span class="value">
				<label for="weaponValue">{{localize config.common.val}}:</label>
				<input id="weaponValue" name="system.value" type="text" value="{{gear.value}}" data-dtype="Number" />
			</span>
		</div>
	</div>
	<span class="effects grid-span-5">
		<label for="weaponEffects">{{localize config.common.eff}}:</label>
		{{editor gear.effects target="system.effects" button=true engine="prosemirror"}}
	</span>
	<span class="comments grid-span-5">
		{{editor gear.comment target="system.comment" button=true engine="prosemirror"}}
	</span>
</form>
