<form class="{{cssClass}}{{item.type}} grid grid-5col" autocomplete="off">
    <div class="grid-span-5">
        <span class="top-info grid grid-2col">
			<span class="name">
				<label for="weaponName">{{localize data.config.gs.gear.common.nam'}}:</label>
				<input id="weaponName" name="name" type="text" value="{{data.item.name}}" />
			</span>
			<span class="type">
				<label for="weaponType">{{localize data.config.gear.common.typ}}:</label>
				<input id="weaponType" name="system.type" type="text" value="{{data.item.system.type}}" />
			</span>
		</span>
    </div>
	<img src="{{data.item.img}}" data-edit="img" title="{{data.item.name}}" />
	<div class="grid-span-4">
		<div class="grid grid-2col">
			<span class="use">
				<label for="weaponUse">{{localize data.config.gear.weapons.use}}:</label>
				<input id="weaponUse" name="system.use" type="text" value="{{data.item.system.use}}" />
			</span>
			<span class="attribute">
				<label for="weaponAtt">{{localize data.config.gear.weapons.att}}:</label>
				<input id="weaponAtt" name="system.attribute" type="text" value="{{data.item.system.attribute}}" />
			</span>
			<span class="power">
				<label for="weaponPower">{{localize data.config.gear.weapons.pow}}:</label>
				<input id="weaponPower" name="system.power" type="text" value="{{data.item.system.power}}" />
			</span>
			<span class="hitMod">
				<label for="weaponHitMod">{{localize data.config.gear.weapons.hit}}:</label>
				<input id="weaponHitMod" name="system.hitMod" type="text" value="{{data.item.system.hitMod}}" />
			</span>
			<span class="range">
				<label for="weaponRange">{{localize data.config.gear.weapons.ran}}:</label>
				<input id="weaponRange" name="system.range" type="text" value="{{data.item.system.range}}" />
			</span>
			<span class="value">
				<label for="weaponValue">{{localize data.config.gear.common.val}}:</label>
				<input id="weaponValue" name="system.value" type="text" value="{{data.item.system.value}}" data-dtype="Number" />
			</span>
		</div>
	</div>
	<span class="effects grid-span-5">
		<label for="weaponEffects">{{localize data.config.gear.common.eff}}:</label>
		{{editor data.item.system.effects target="system.effects" button=true}}
	</span>
	<span class="comments grid-span-5">
		{{editor data.item.system.comment target="system.comment" button=true}}
	</span>
</form>
{{log data}}
