<form class="{{cssClass}}{{item.type}} grid grid-5col" autocomplete="off">
	<img src="{{item.img}}" data-edit="img" title="{{item.name}}" />
	<div class="grid-span-4">
		<div class="grid grid-2col">
			<span class="name">
				<label for="weaponName">{{localize 'gs.gear.common.nam'}}:</label>
				<input id="weaponName" name="name" type="text" value="{{item.name}}" />
			</span>
			<span class="type">
				<label for="weaponType">{{gear.type.label}}:</label>
				<input id="weaponType" name="gear.type.label" data-field="input" data-key="type" type="text" value="{{gear.type.value}}" />
			</span>
			<span class="use">
				<label for="weaponUse">{{gear.use.label}}:</label>
				<input id="weaponUse" name="gear.use.label" data-field="input" data-key="use" type="text" value="{{gear.use.value}}" />
			</span>
			<span class="attribute">
				<label for="weaponAtt">{{gear.attribute.label}}:</label>
				<input id="weaponAtt" name="gear.attribute.label" data-field="input" data-key="attribute" type="text" value="{{gear.attribute.value}}" />
			</span>
			<span class="power">
				<label for="weaponPower">{{gear.power.label}}:</label>
				<input id="weaponPower" name="gear.power.label" data-field="input" data-key="power" type="text" value="{{gear.power.value}}" />
			</span>
			<span class="hitMod">
				<label for="weaponHitMod">{{gear.hitMod.label}}:</label>
				<input id="weaponHitMod" name="gear.hitMod.label" data-field="input" data-key="hitMod" type="text" value="{{gear.hitMod.value}}" />
			</span>
			<span class="range">
				<label for="weaponRange">{{gear.range.label}}:</label>
				<input id="weaponRange" name="gear.range.label" data-field="input" data-key="range" type="text" value="{{gear.range.value}}" />
			</span>
			<span class="value">
				<label for="weaponValue">{{gear.value.label}}:</label>
				<input id="weaponValue" name="gear.value.label" data-field="input" data-key="value" type="text" value="{{gear.value.value}}" />
			</span>
		</div>
	</div>
	<span class="effects grid-span-5">
		<label for="weaponEffects">{{gear.effects.label}}:</label>
		{{editor gear.effects.value target="system.effects.value" button=true owner=owner}}
	</span>
	<span class="comments grid-span-5">
		{{editor gear.comment target="system.comment" button=true owner=owner}}
	</span>
</form>
{{log gear}}
