<form class="{{#each data.options.classes as |class id|}}{{class}} {{/each}} {{data.item.type}} grid grid-5col" autocomplete="off">
    <div class="grid-span-5">
        <span class="top-info grid grid-2col">
			<span class="name">
				<label for="weaponName">{{localize config.common.nam}}:</label>
				<input id="weaponName" name="name" type="text" value="{{data.item.name}}" />
			</span>
			<span class="type">
				<label for="weaponType">{{localize config.common.typ}}:</label>
				<input id="weaponType" name="system.type" type="text" value="{{gear.type}}" />
			</span>
		</span>
    </div>
	<img src="{{data.item.img}}" data-edit="img" title="{{data.item.name}}" />
	<div class="grid-span-4">
		<div class="grid grid-2col">
			<span class="use">
				<label for="weaponUse">{{localize config.weapons.use}}:</label>
				<input id="weaponUse" name="system.use" type="text" value="{{gear.use}}" />
			</span>
			<span class="attribute">
				<label for="weaponAtt">{{localize config.weapons.att}}:</label>
				<input id="weaponAtt" name="system.attribute" type="text" value="{{gear.attribute}}" />
			</span>
			<span class="power">
				<label for="weaponPower">{{localize config.weapons.pow}}:</label>
				<input id="weaponPower" name="system.power" type="text" value="{{gear.power}}" />
			</span>
			<span class="hitMod">
				<label for="weaponHitMod">{{localize config.weapons.hit}}:</label>
				<input id="weaponHitMod" name="system.hitMod" type="text" value="{{numberFormat gear.hitMod decimals=0 sign=true}}" data-dtype="Number" />
			</span>
			<span class="range">
				<label for="weaponRange">{{localize config.weapons.ran}}:</label>
				<select name="system.range">
					 {{#each config.weapons.range as |label key|}}
						<option value="{{label}}" {{#if (eq label ../item.system.range)}}selected{{/if}}>
							{{key}}
						</option>
					{{/each}}
				</select>
			</span>
			<span class="value">
				<label for="weaponValue">{{localize config.common.val}}:</label>
				<input id="weaponValue" name="system.value" type="text" value="{{gear.value}}" data-dtype="Number" />
			</span>
		</div>
	</div>
	<span class="effects grid-span-5">
		<h2 for="weaponEffects">{{localize config.common.eff}}:</h2>
		<div class="grid grid-4col">
			<div class="wELeft">
				<div class="grid grid-6col">
					<input class="effectCheckbox" type="checkbox" name="system.effect.checked.0" {{checked gear.effect.checked.[0]}}><div class="effectName grid-span-5">{{localize 'gs.gear.weapons.effects.bind'}}</div>
					<input class="effectCheckbox" type="checkbox" name="system.effect.checked.1" {{checked gear.effect.checked.[1]}}><div class="effectName grid-span-5">{{localize 'gs.gear.weapons.effects.noParry'}}</div>
					<input class="effectCheckbox" type="checkbox" name="system.effect.checked.2" {{checked gear.effect.checked.[2]}}><div class="effectName grid-span-5">{{localize 'gs.gear.weapons.effects.mFThrow'}}</div>
					<input class="effectCheckbox" type="checkbox" name="system.effect.checked.3" {{checked gear.effect.checked.[3]}}><div class="effectName grid-span-5">{{localize 'gs.gear.weapons.effects.massive'}}</div>
					<input class="effectCheckbox" type="checkbox" name="system.effect.checked.4" {{checked gear.effect.checked.[4]}}><div class="effectName grid-span-5">{{localize 'gs.gear.weapons.effects.nThrow'}}</div>
				</div>
			</div>
			<div class="wEMiddle">
				<div class="grid grid-6col">
					<input class="effectCheckbox" type="checkbox" name="system.effect.checked.5" {{checked gear.effect.checked.[5]}}><div class="effectName grid-span-4">{{localize 'gs.gear.weapons.effects.parry'}}</div><input class="effectValue" type="text" name="system.effect.parry" value="{{gear.effect.parry}}" data-dtype="Number">
					<input class="effectCheckbox" type="checkbox" name="system.effect.checked.6" {{checked gear.effect.checked.[6]}}><div class="effectName grid-span-4">{{localize 'gs.gear.weapons.effects.pierce'}}</div><input class="effectValue" type="text" name="system.effect.pierce" value="{{gear.effect.pierce}}" data-dtype="Number">
					<input class="effectCheckbox" type="checkbox" name="system.effect.checked.7" {{checked gear.effect.checked.[7]}}><div class="effectName grid-span-4">{{localize 'gs.gear.weapons.effects.rFire'}}</div><input class="effectValue" type="text" name="system.effect.rFire" value="{{gear.effect.rFire}}" data-dtype="Number">
					<input class="effectCheckbox" type="checkbox" name="system.effect.checked.8" {{checked gear.effect.checked.[8]}}><div class="effectName grid-span-5">{{localize 'gs.gear.weapons.effects.restraint'}}</div>
					<input class="effectCheckbox" type="checkbox" name="system.effect.checked.9" {{checked gear.effect.checked.[9]}}><div class="effectName grid-span-5">{{localize 'gs.gear.weapons.effects.retrieve'}}</div>
				</div>
			</div>
			<div class="wERight">
				<div class="grid grid-6col">
					<input class="effectCheckbox" type="checkbox" name="system.effect.checked.10" {{checked gear.effect.checked.[10]}}><div class="effectName grid-span-5">{{localize 'gs.gear.weapons.effects.slice'}}</div>
					<input class="effectCheckbox" type="checkbox" name="system.effect.checked.11" {{checked gear.effect.checked.[11]}}><div class="effectName grid-span-4">{{localize 'gs.gear.weapons.effects.sbBludg'}}</div><input class="effectValue" type="text" name="system.effect.sbBludg" value="{{gear.effect.sbBludg}}" data-dtype="Number">
					<input class="effectCheckbox" type="checkbox" name="system.effect.checked.12" {{checked gear.effect.checked.[12]}}><div class="effectName grid-span-4">{{localize 'gs.gear.weapons.effects.sbSlash'}}</div><input class="effectValue" type="text" name="system.effect.sbSlash" value="{{gear.effect.sbSlash}}" data-dtype="Number">
					<input class="effectCheckbox" type="checkbox" name="system.effect.checked.13" {{checked gear.effect.checked.[13]}}><div class="effectName grid-span-5">{{localize 'gs.gear.weapons.effects.throw'}}</div>
					<input class="effectCheckbox" type="checkbox" name="system.effect.checked.14" {{checked gear.effect.checked.[14]}}><div class="effectName grid-span-5">{{localize 'gs.gear.weapons.effects.throwSpc'}}</div>
				</div>
			</div>
			<div class="wERight">
				<div class="grid grid-6col">
					<input class="effectCheckbox" type="checkbox" name="system.effect.checked.15" {{checked gear.effect.checked.[15]}}><div class="effectName grid-span-4">{{localize 'gs.gear.weapons.effects.ancDragon'}}</div><input class="effectValue" type="text" name="system.effect.ancDragon" value="{{gear.effect.ancDragon}}" data-dtype="Number">
					<input class="effectCheckbox" type="checkbox" name="system.effect.checked.16" {{checked gear.effect.checked.[16]}}><div class="effectName grid-span-4">{{localize 'gs.gear.weapons.effects.miracles'}}</div><input class="effectValue" type="text" name="system.effect.miracles" value="{{gear.effect.miracles}}" data-dtype="Number">
					<input class="effectCheckbox" type="checkbox" name="system.effect.checked.17" {{checked gear.effect.checked.[17]}}><div class="effectName grid-span-4">{{localize 'gs.gear.weapons.effects.necro'}}</div><input class="effectValue" type="text" name="system.effect.necro" value="{{gear.effect.necro}}" data-dtype="Number">
					<input class="effectCheckbox" type="checkbox" name="system.effect.checked.18" {{checked gear.effect.checked.[18]}}><div class="effectName grid-span-4">{{localize 'gs.gear.weapons.effects.spirit'}}</div><input class="effectValue" type="text" name="system.effect.spirit" value="{{gear.effect.spirit}}" data-dtype="Number">
					<input class="effectCheckbox" type="checkbox" name="system.effect.checked.19" {{checked gear.effect.checked.[19]}}><div class="effectName grid-span-4">{{localize 'gs.gear.weapons.effects.wotp'}}</div><input class="effectValue" type="text" name="system.effect.wotp" value="{{gear.effect.wotp}}" data-dtype="Number">
				</div>
			</div>
			{{!-- <a class="journalLink" href="@UUID[Compendium.gs.rules.JournalEntry.QKzabwVIEIxLgy0S.JournalEntryPage.m4Xnf2FUXWzmgujK#not-throwable]">Not Throwable</a> --}}
		</div>
		{{{editor data.enrichedEffects target="system.effects" button=true engine="prosemirror"}}}
	</span>
	{{!-- <span class="comments grid-span-5">
		{{editor gear.comment target="system.comment" button=true engine="prosemirror"}}
	</span> --}}
</form>
